name: Build EDK2 platforms

on:
  push: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      toolchain: GCC5
    strategy:
      fail-fast: false
      matrix:
        config: 
          - platformname: RPi3
            dscfile: edk2-platforms/Platform/RaspberryPi/RPi3/RPi3.dsc
            arch: AARCH64
          - platformname: RPi4
            dscfile: edk2-platforms/Platform/RaspberryPi/RPi4/RPi4.dsc
            arch: AARCH64
          - platformname: ArmJuno
            dscfile: edk2-platforms/Platform/ARM/JunoPkg/ArmJuno.dsc
            arch: AARCH64
          - platformname: Sgi575
            dscfile: edk2-platforms/Platform/ARM/SgiPkg/Sgi575/Sgi575.dsc
            arch: AARCH64
          - platformname: BeagleBoard
            dscfile: edk2-platforms/Platform/BeagleBoard/BeagleBoardPkg/BeagleBoardPkg.dsc
            arch: ARM
          - platformname: FreedomU500VC707
            dscfile: edk2-platforms/Platform/SiFive/U5SeriesPkg/FreedomU500VC707Board/U500.dsc
            arch: RISCV64
          - platformname: FreedomU540HiFiveUnleashed
            dscfile: edk2-platforms/Platform/SiFive/U5SeriesPkg/FreedomU540HiFiveUnleashedBoard/U540.dsc
            arch: RISCV64
          - platformname: DeveloperBox
            dscfile: edk2-platforms/Platform/Socionext/DeveloperBox/DeveloperBox.dsc
            arch: AARCH64
          # - platformname: DeveloperBoxMm
          #   dscfile: edk2-platforms/Platform/Socionext/DeveloperBox/DeveloperBoxMm.dsc
          #   arch: AARCH64
        buildtarget: 
          - RELEASE
          - DEBUG
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            uuid-dev \
            iasl \
            git \
            gcc \
            nasm \
            gcc-arm-linux-gnueabi \
            gcc-aarch64-linux-gnu \
            gcc-riscv64-unknown-elf \
            device-tree-compiler
          sudo apt-get clean

      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      # Run the build commands
      - run: |
          export GCC5_ARM_PREFIX=arm-linux-gnueabi-
          export GCC5_AARCH64_PREFIX=aarch64-linux-gnu-
          export GCC5_RISCV64_PREFIX=riscv64-unknown-elf-
          export WORKSPACE=$PWD
          export PACKAGES_PATH=$PWD/edk2:$PWD/edk2-platforms:$PWD/edk2-non-osi
          . edk2/edksetup.sh
          make -C edk2/BaseTools
          build \
            -n 2 \
            -t ${{ env.toolchain }} \
            -b ${{ matrix.buildtarget }} \
            -p ${{ matrix.config.dscfile }} \
            -a ${{ matrix.config.arch }}

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.config.platformname }}_${{ matrix.buildtarget }}_${{ env.toolchain }}
          path: Build/*/${{ matrix.buildtarget }}_${{ env.toolchain }}/FV/*.fd
