name: Build Intel platforms

on:
  # push: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platformname: 
          - BoardMtOlympus
          - BoardX58Ich10
          - GalagoPro3
          - KabylakeRvp3
          - UpXtreme
          - WhiskeylakeURvp
          - CometlakeURvp
          - TigerlakeURvp
          - CooperCityRvp
          - WilsonCityRvp
        buildtarget: 
          - RELEASE
          - DEBUG
    steps:
      - run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            python3.8 \
            uuid-dev \
            iasl \
            git \
            gcc \
            nasm \
            python3-distutils
          sudo apt-get clean
          sudo ln -sf /usr/bin/python3.8 /usr/bin/python

      - uses: actions/checkout@v2
        with:
          submodules: true 
      - run: git submodule foreach git submodule update --init --force --depth=1

      # Run the build commands
      - run: |
          cd edk2
          source ./edksetup.sh
          cd ..
          cd edk2-platforms/Platform/Intel
          python build_bios.py -p ${{ matrix.platformname }} -t GCC5 --${{ matrix.buildtarget }}

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.platformname }}_${{ matrix.buildtarget }}_GCC5
          path: Build/*/${{ matrix.platformname }}/${{ matrix.buildtarget }}_GCC5/FV/*.fd
